extends ./layout.pug
block Contenido
  div(class="col-md-8 remove-float center-block text-center big-top-space")
   h1 Bienvenidos a FotoFacilito
   a(href="/login" class="rigth-space") Iniciar Sesion
   a(href="/signup") Registro